:root {
  --main-color: #ce8c1b;
  --text-color: #fefefe;
  --font:'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html{
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

body{font-family: 'Poppins', sans-serif;}
nav {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background: transparent;
  padding: 0px 150px 0px 0px;
  z-index: 100;
}

.Logo-Wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  height: 100%;
  padding: 0px 10px 0px 150px;
}
.Logo-Wrapper:hover {
  background-color: #ce8c1b40;
  transition: all 0.2s ease-in-out;
}

.nav-links {
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  margin: 0px 50px;
  text-transform: lowercase;
  border-bottom: 1px solid transparent;
}
.nav-links:hover {
  border-bottom: 1px solid var(--text-color);
  transition: border-bottom 0.3s ease-in-out;
}

.contact-link {
  display: none;
}

.nav-CTA-Wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-CTA-Wrapper a button {
  background: transparent;
  border: 1px solid var(--main-color);
  border-radius: 25px;
  padding: 13px 20px;
  font-size: 18px;
  font-weight: 300;
  text-transform: capitalize;
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.nav-CTA-Wrapper a button:hover {
  background: var(--main-color);
  color: var(--text-color);
  box-shadow: 0px 2px 2px 1px #00000035;
  transition: all 0.2s ease-in-out;
}

.hamburger-wrapper .line-1 {
  height: 5px;
  width: 10px;
  background-color: var(--text-color);
  margin-bottom: 3px;
}

.hamburger-wrapper {
  /* border: 1px solid var(--main-color); */
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 25px;
  display: none;
}
.hamburger-wrapper .line {
  height: 3px;
  width: 100%;
  background-color: var(--main-color);
  margin-bottom: 5px;
}
.hamburger-wrapper .middle {
  width: 65% !important;
  align-self: flex-end;
}

.hamburger-wrapper .last-line {
  margin-bottom: 0px;
}

/* media-queries */

@media screen and (max-width: 1050px) {
  nav {
    padding: 0px 100px 0px 0px;
  }
  .Logo-Wrapper {
    padding: 0px 10px 0px 100px;
  }
  .nav-links {
    margin: 0px 25px;
  }
}

@media screen and (max-width: 800px) {
  nav {
    padding-right: 50px;
  }
  .Navlinks-Wrapper {
    width: 50%;
    padding: 40px 0px 40px 0px;
    background-color: var(--main-color);
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 80px;
    bottom: auto;
    right: 0;
    left: auto;
    border-radius: 15px 0px 0px 30px;
    display: none;
    box-shadow: -2px 5px 18px 0px #00000070;
    overflow: hidden;

  }
  .Logo-Wrapper {
    padding: 0px 10px 0px 50px;
  }
  .nav-links {
    font-size: 16px;
    line-height: 26px;
    margin: 25px 0px;
    border-bottom: 1px solid transparent;
  }

  .nav-links {
    border-bottom: 1px solid var(--text-color);
  }
  .contact-link {
    display: inline;
  }

  .nav-CTA-Wrapper {
    display: none;
  }

  .hamburger-wrapper {
    display: flex;
    cursor: pointer;
  }
}

:root {
  --main-color: #ce8c1b;
  --text-color: #fefefe;
  --font: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

/* Ids */

#Hero-Section::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(Images/MOuntees-Cover.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  z-index: -2;
}
#Hero-Section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 0px 150px;
  background-color: #00000080;
  overflow: hidden;
}

#content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#text-content-wrapper {
  color: var(--text-color);
  margin-right: 200px;
}

#text-content-wrapper h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 52.5px;
  width: 320px;
}

#text-content-wrapper h1 > span {
  color: var(--main-color) !important;
  font-weight: 300;
}
#text-content-wrapper h1 span span {
  font-weight: 700;
}

#text-content-wrapper p {
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  margin-bottom: 24px;
  width: 380px;
}

#text-content-wrapper a {
  color: var(--text-color);
  text-decoration: none;
}

#text-content-wrapper .CTA-wrapper #primary-CTA {
  background: #ce8c1b35;
  border: 1px solid var(--main-color);
  border-radius: 25px;
  padding: 13px 20px;
  font-size: 16px;
  font-weight: 300;
  text-transform: capitalize;
  color: var(--text-color);
  cursor: pointer;
  margin-right: 24px;
  transition: all 0.2s ease-in-out;
}
#text-content-wrapper .CTA-wrapper #primary-CTA:hover {
  background: #ce8c1b95;
  transition: all 0.2s ease-in-out;
}

#text-content-wrapper .CTA-wrapper #secondary-CTA {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  opacity: 70%;
}

#text-content-wrapper .CTA-wrapper #secondary-CTA:hover {
  opacity: 100%;
  border-bottom: 1px solid var(--text-color);
  transition: all 0.1s ease-in-out;
}

#form-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#form-content-wrapper .form {
  background-color: #ce8c1b80;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  padding: 40px;
  margin-bottom: 24px;
}

#form-content-wrapper .form p {
  width: 400px;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}

#form-content-wrapper .form #form-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#form-content-wrapper .form-video-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  opacity: 75%;
}
#form-content-wrapper .form-video-link:hover,
#form-content-wrapper .form-video-link a {
  transition: opacity 0.2s ease-in-out;
  opacity: 100%;
  text-decoration: underline;
}
#form-content-wrapper .form-video-link a {
  color: var(--text-color);
  font-family: var(--font);
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-decoration: none;
  margin-right: 8px;
}
#form-content-wrapper .form-video-link span a {
  position: relative;
  top: 3px;
  cursor: pointer;
}

/* classes */

.social-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: auto;
  bottom: 50px;
  right: auto;
  left: 150px;
  /* display: none; */
}

.social-item {
  opacity: 65%;
  margin: 0px 12px;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
}

.social-item:hover {
  opacity: 100%;
  transition: opacity 0.1s ease-in-out;
}
.social-wrapper .sep-line-social {
  height: 35px;
  width: 2px;
  background-color: var(--text-color);
  margin-right: 0px;
  cursor: default;
}
.social-wrapper a {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  text-decoration: none;
}

.call-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: auto;
  bottom: 0;
  right: 0;
  left: auto;
  border-top: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
  padding: 30px 20px 30px 40px;
}
.call-wrapper a {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  text-decoration: none;
}

.call-wrapper:hover {
  background: #fefefe25;
  padding: 30px 40px 50px 40px;
  transition: all 0.3s ease-in-out;
}

.input_wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 1px;
}

select {
  --bgcolor: rgba(206, 140, 27, 0.726);

  padding: 10px 35px 10px 15px;
  text-align: start;
  background-color: var(--bgcolor);
  color: var(--text-color);
  font-family: var(--font);
  border: 1px solid var(--bgcolor);
  cursor: pointer;
  appearance: none;
}
select:focus {
  outline: none;
}

.custom-arrow {
  --bgcolor: rgba(206, 140, 27, 0);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 100%;
  background-color: var(--bgcolor);
  pointer-events: none;
}

.custom-arrow img {
  opacity: 85%;
}

.input_wrapper button {
  --bgcolor: rgba(206, 140, 27, 0.726);
  color: var(--text-color);
  font-family: var(--font);
  font-size: 14px;
  border: 1px solid var(--bgcolor);
  background-color: var(--bgcolor);
  padding: 0px 20px;
  height: 41px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.input_wrapper button:hover {
  --bgcolorfull: rgba(206, 140, 27);
  background-color: var(--bgcolorfull);
  transition: all 0.2s ease-in-out;
}

/* .
.
.
media queries
.
.
. */

@media screen and (max-height: 500px) {
  .social-wrapper {
    display: none;
  }
  .call-wrapper {
    display: none;
  }
}
@media screen and (max-width: 1230px) {
  #text-content-wrapper {
    color: var(--text-color);
    margin-right: 40px;
  }
}

@media screen and (max-width: 1050px) {
  #Hero-Section {
    padding: 0px 100px;
  }
  #text-content-wrapper {
    color: var(--text-color);
    margin-right: 10px;
  }
  #form-content-wrapper .form {
    padding: 30px 10px;
  }
  .social-wrapper {
    left: 100px;
  }

  .call-wrapper {
    padding: 30px 20px 30px 40px;
  }
}

@media screen and (max-width: 950px) {
  #Hero-Section {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  #Hero-Section #content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
  }
  #Hero-Section #content-wrapper #text-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    text-align: center;
  }
  .social-wrapper {
    display: none;
  }
  .call-wrapper {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .social-wrapper {
    left: 50px;
  }
}

@media screen and (max-width: 500px) {
  .social-wrapper {
    display: none;
  }
  .call-wrapper {
    display: none;
  }
}
